<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width="80%"  style="margin-left: 10%;margin-right: 10%;text-align: center">

    <tr>
        <td colspan="3" style="text-align: center;color:red;background: blue"><b>Erlink-Code</b></td>
    </tr>
    <tr>
        <td>Title:</td>
        <td colspan="2"><input type="text" name="title" style="width:90%;" /></td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: left"><textarea style="width:99%;height:300px;"></textarea></td>
    </tr>
    <tr>
        <td>
            语言：<select name="language">
                <option value ="java">Java</option>
                <option value ="python">Python</option>
                <option value="c">C/C++</option>
                <option value="csharp">C#</option>
                <option value="go">Go</option>
                <option value="bash">Bash</option>
                <option value="assembly">Assembly</option>
            </select>
        </td>
        <td>保留时常：<select name="long">
                <option value ="volvo">缓存</option>
                <option value ="saab">一天</option>
                <option value="opel">一周</option>
                <option value="audi">无限</option>
            </select></td>
        <td><input type="submit" value="提交"></td>
    </tr>
</table>
</body>
</html>