<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="/static/css/styles/monokai-sublime.css">
    <script src="/static/js/highlight.pack.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/core.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>
<body>
<table border="1" width="80%"  style="margin-left: 10%;margin-right: 10%;text-align: center">

    <tr>
        <td colspan="3" style="text-align: center;color:red;background: blue"><b>Erlink-Code</b></td>
    </tr>
    <tr>
        <td>Title:</td>
        <td colspan="2" id="title">{{.Title}}</td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: left">
            <pre class='hljs'>
<code id="code">
{{.Code}}
</code>
</pre>

        </td>
    </tr>
    <tr>
        <td id="language">
            语言：{{.Language}}
        </td>
        <td id="long">保留时常：{{.Long}}</td>
        <td id="time">生成日期：{{.Time}}</td>
    </tr>
</table>
</body>
</html>